---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm Haikal Tahar, a passionate front-end developer with a solid
        foundation in modern web development frameworks like ReactJS and
        Next.js. Over the years, I’ve honed my skills in creating seamless user
        experiences and dynamic interfaces. Beyond front-end, I specialize in
        building robust back-end systems using Golang and managing databases
        with PostgreSQL.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I am currently available for collaboration. If you're looking for a
        dedicated developer to help bring your web applications to life or
        improve existing projects, feel free to get in touch at <a
          href="mailto:haikaltahar@gmail.com">haikaltahar@gmail.com</a
        >
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        With a strong background in CI/CD and DevOps, I understand the
        importance of efficient workflows and scalable infrastructure. I’m also
        passionate about exploring new technologies like machine learning, web
        development, and software engineering to expand my expertise.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        My goal is to deliver high-quality solutions that align with your
        business objectives. Whether it’s building feature-rich applications,
        optimizing processes, or crafting visually appealing designs, I bring a
        combination of technical expertise and creativity to every project.
      </p>
    </div>
  </div>
</section>
