@import "tailwindcss";
@theme {
  --color-primary: #9a031e;
  --color-secondary: #fff;
}
/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-variant-numeric: tabular-nums;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

::selection {
  background-color: #f8f8ff; /* Highlight background color */
  color: #0000ff; /* Text color */
}
